language: go
go:
    - 1.6
    - 1.7
    - tip
dist: trusty
sudo: required
before_install:
    - sudo add-apt-repository -y ppa:duggan/bats
    - sudo apt-get -qq update
    - sudo apt-get -qq install bats btrfs-tools libdevmapper-dev libgpgme11-dev
script:
    - make
    - cd tests; sudo ./test_runner.sh
