language: go
go:
    - 1.7
    - 1.8
    - tip
dist: trusty
sudo: required
before_install:
    - sudo add-apt-repository -y ppa:duggan/bats
    - sudo apt-get -qq update
    - sudo apt-get -qq install bats btrfs-tools git libdevmapper-dev libgpgme11-dev
script:
    - make install.tools all validate
    - cd tests; sudo PATH="$PATH" ./test_runner.sh
