#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DH_VERBOSE=1
export DH_GOPKG := github.com/projectatomic/buildah
# Include test fixtures.
#export DH_GOLANG_INSTALL_EXTRA := discovery/file/fixtures \
    storage/local/fixtures config/testdata promql/testdata retrieval/testdata \
    promql/fuzz-data
# Do not build examples.
#export DH_GOLANG_EXCLUDES := documentation vendor

# Lots of shameless copy-paste from the debian package for prometheus

BUILDDIR := $(shell pwd)

%:
	dh_clean
	make clean
	rm -rf $(BUILDDIR)/src $(BUILDDIR)/crio.conf
	dh $@ --buildsystem=golang --with=golang --builddirectory=$(BUILDDIR)

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=golang
	# Include vendored dependencies.
	cp -rp $(BUILDDIR)/vendor $(BUILDDIR)/src
	mkdir -p $(BUILDDIR)/src/$(DH_GOPKG)
	rsync -a $(BUILDDIR)/* $(BUILDDIR)/src/$(DH_GOPKG) --exclude src
	sed -i 's/\.\/cmd\/buildah/github.com\/projectatomic\/buildah\/cmd\/buildah/' Makefile

override_dh_auto_build:
	GOPATH=$(BUILDDIR) make all

override_dh_auto_test:

override_dh_auto_install:
	make DESTDIR=$(BUILDDIR)/debian/buildah PREFIX=/usr install install.completions
