# -----------------------------------------------------------------------------------------------------------
# This is a GitHub Action that will automatically create a release after a tag is pushed into the project
# by someone, or by running from the "Actions" page of the project.   The interface in the Actions page will
# ask for the Branch to run from, the Release Version to build, if it should create a release or just do
# an initial build, and finally, if mail should be sent to the podman@list.podman.io email distribution lists.
# -----------------------------------------------------------------------------------------------------------
name: Release
on:
  push:
    tags:
      - '*'
      
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version to build and upload (e.g. "v9.8.7")'
        required: true
      buildonly:
        description: 'Build only: Do not create release'
        default: "true"  # 'choice' type requires string value
        type: choice
        options:
          - "true"  # Must be quoted string, boolean value not supported.
          - "false"
      sendmail:
        description: 'Send Mail to podman@lists.podman.io?'
        default: "false"  # 'choice' type requires string value
        type: choice
        options:
          - "true"  # Must be quoted string, boolean value not supported.
          - "false"

# Set the permission for this workflow
permissions:
  contents: write

# -----------------------------------------------------------------------------------------------------------
# Get the version of the tag from input or from a push of it.
# Then figure out the prior version of the project.
# -----------------------------------------------------------------------------------------------------------
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Determine Version
      id: getversion
      run: |
        if [[ -z "${{ inputs.version }}" ]]
        then
              VERSION=${{ github.ref_name }}
        else
              VERSION=${{ inputs.version }}
        fi
        if ! grep -Eq 'v[0-9]+(\.[0-9]+(\.[0-9]+(-.+)?)?)?$' <<<"$VERSION"
          then
            echo "Unable to parse release version '$VERSION' from github event JSON, or workflow 'version' input."
            exit 1
        fi

        if grep -Eq '.+-dev$' <<<"$VERSION"
        then
          echo "Refusing to process a "-dev" version '$VERSION'"
          exit 1
        fi
        prevrelease=$(curl --retry 3 --silent -m 10 --connect-timeout 5 "https://api.github.com/repos/${{ github.repository }}/releases/latest")
        PRIORVERSION=$(echo "$prevrelease" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/') >> $GITHUB_OUTPUT
        echo "version=$VERSION" >> $GITHUB_OUTPUT
        echo "priorversion=$PRIORVERSION" >> $GITHUB_OUTPUT
        echo "::notice::Building $VERSION"
        echo "::notice::With Prior Version $PRIORVERSION"
        echo "::notice::For the project ${{ github.event.repository.name }}"

    - name: Just check, or build the release?
      id: buildonly
      run: |
        # The 'tag' trigger will not have a 'buildonly' input set. Handle
        # this case in a readable/maintainable way.
        if [[ -z "${{ inputs.buildonly }}" ]]
        then
          BUILDONLY="false"
        else
          BUILDONLY=${{ inputs.buildonly }}
        fi
        echo "buildonly=$BUILDONLY" >> $GITHUB_OUTPUT
        
    outputs:
      version: ${{ steps.getversion.outputs.version }}
      priorversion: ${{ steps.getversion.outputs.priorversion }}
      buildonly: ${{ steps.buildonly.outputs.buildonly }}

# -----------------------------------------------------------------------------------------------------------
# Start the release process
# -----------------------------------------------------------------------------------------------------------
  release:
    name: Create Release
    runs-on: ubuntu-latest
    if: needs.check.outputs.buildonly == 'false'
    needs: [check]
    permissions:
      contents: write
    env:
      VERSION: ${{needs.check.outputs.version}}
      PRIORVERSION: ${{needs.check.outputs.priorversion}}

    steps:
    - name: Checkout the main branch of this repository
      uses: actions/checkout@v5
      with:
        ref: ${{needs.check.outputs.version}}

    - name: Touch release notes file
      run: |
        touch $VERSION-release-notes.md
    
    # -----------------------------------------------------------------------------------------------------------
    # Create the Changelog
    # -----------------------------------------------------------------------------------------------------------
    - name: Conventional Changelog Action
      id: changelog 
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      uses: gableroux/generate-github-release-notes@v0.1.2
      with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         base_tag: ${{ needs.check.outputs.priorversion }}
         head_tag: ${{ github.sha }}
         repository: ${{ github.repository }}
         auto_detect_new_contributors: 'true'

    # -----------------------------------------------------------------------------------------------------------
    # Create the Release
    # -----------------------------------------------------------------------------------------------------------
    - name: Create release
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        title=$VERSION
        if [[ $VERSION == *-rc* ]]; then
          RC="--prerelease"
          title="${title/rc/"RC"}"
        else
          # check if this version should not be marked latest
          vers=${VERSION#"v"}
          priorversion=${PRIORVERSION#"v"}
          echo "::notice::With Prior Version ${priorversion}"
          echo "::notice::With New Version ${vers}"

          # sort -V -C returns 0 if args are ascending version order
          if !(echo "${priorvers},${vers}" | tr ',' '\n' | sort -V -C)
          then
            LATEST="--latest=false"
          fi
        fi

        # If we're generating the release notes, put the generated ones in the file.
        releasenotes="$VERSION-release-notes.md"
        echo "${{ steps.changelog.outputs.notes }}" > $releasenotes

        gh release create $VERSION \
            -t $title \
            --notes-file $releasenotes \
            --verify-tag \
            $RC \
            $LATEST

# -----------------------------------------------------------------------------------------------------------
# If requested, let's send an email notification if we're creating the release.
# -----------------------------------------------------------------------------------------------------------
  notification:
    name: Email notification
    runs-on: ubuntu-latest
    needs: [check, release]
    if: needs.check.outputs.buildonly == 'false' && inputs.sendmail == 'true'
    steps:
      - name: Format release email
        id: format
        env:
          VERSION: ${{ needs.check.outputs.version }}
        run: |
          if grep -Eq '.+-rc' <<<"$VERSION"
          then
            RC_PREFIX="candidate "
          fi

          echo "mail_subj=${{ github.event.repository.name }} ${RC_PREFIX}${VERSION} Released" >> $GITHUB_OUTPUT

          cat <<EOF>email_body.txt
          Hi all,

          Containers-lib ${RC_PREFIX}${VERSION} is now available.  You may view the full details at
          https://github.com/${{ github.repository }}/releases/tag/$VERSION

          Release ${RC_PREFIX}Notes:
          --------------
          EOF

          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          gh release view $VERSION \
            --repo ${{ github.repository }} --json=body --jq '.body' >> email_body.txt

      # If the job fails, permit the operator to observe the contents if helpful.
      - name: Provide release e-mail contents for examination
        run: cat email_body.txt
      - name: Send release notification e-mail
        # Ref: https://github.com/dawidd6/action-send-mail
        uses: dawidd6/action-send-mail@v3.12.0
        with:
          server_address: ${{secrets.ACTION_MAIL_SERVER}}
          server_port: 465
          username: ${{secrets.ACTION_MAIL_USERNAME}}
          password: ${{secrets.ACTION_MAIL_PASSWORD}}
          subject: ${{ steps.format.outputs.mail_subj }}
          to: Podman List <podman@lists.podman.io>
          from: ${{secrets.ACTION_MAIL_SENDER}}
          body: file://./email_body.txt
